.img {
  width: 140px;
}
.container {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.nav-bar > ul {
  display: flex;
}
.nav-bar > ul > li {
  list-style-type: none;
  padding: 10px;
  font-size: 20px;
}

.res-card {
  width: 250px;
  padding: 5px;
  background-color: #f0f0f0;
  margin: 5px;
  overflow-wrap: break-word;
}
.res-card:hover {
  cursor: pointer;
  border: 1px solid black;
}
.res-image {
  width: 100%;
  height: 200px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.search {
  padding: 10px;
}
